* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.nav {
  position: relative;
  top: 0px;
  left: 0;
  right: 0;
  height: 60px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: end;
}
.nav a {
  margin-right: 10px;
}
.left {
  flex: 1;
}
.mid {
  flex: 1;
}
.right {
  flex: 1;
}
.prof {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 20px;
}
.prof p,
img {
  margin-right: 10px;
}
.profImg {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.prof button {
  border: solid gray 1px;
  padding: 2px;
  background-color: rgb(70, 70, 70);
  color: white;
}

.app {
  text-align: center;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.createPostForm {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: rgb(41, 150, 150);
  height: 400px;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}
.titleBox {
  padding: 10px 30px 10px 10px;
}
.descBox {
  padding: 10px 40px 10px 10px;
}
.postBtn {
  margin-top: 20px;
  width: 80px;
  padding: 10px 10px 10px 10px;
}
.postBtn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.box {
  cursor: pointer;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.posts {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  background-color: maroon;
  width: 40vw;
  border-radius: 20px;
}

.body {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  word-wrap: break-word;
}
.body p {
  flex-shrink: none;
  word-wrap: break-word;
}

.footer {
  background-color: maroon;
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  position: relative;
  padding-bottom: 10px;
}

.user {
  padding-left: 10px;
}
.likes {
  position: absolute;
  right: 35px;
}
.btn {
  position: absolute;
  right: 10px;
  margin-left: 10px;
}
